@model universiade2017.Models.Volunteer
@{
    ViewBag.Title = "Register Volunteer";
}

<h2>Volunteer Registration Form</h2>

<form asp-action="Register" class="form-horizontal">
  <div asp-validation-summary="All"></div>
  <div class="form-group">
    <label asp-for="Email"></label>
    <input asp-for= "Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" required>
    <span class="text-danger" asp-validation-for="Email"></span>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>   
  <div class="form-group">
    <label asp-for="Password"></label>
    <input asp-for="Password" class="form-control" placeholder="Enter password" required>
    <span class="text-danger" asp-validation-for="Password"></span>    
  </div>
  <div class="form-group">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" type="text" class="form-control" placeholder="Enter first name" required>
  </div>
  <div class="form-group">
    <label asp-for="LastName"></label>
    <input asp-for="LastName" type="text" class="form-control" placeholder="Enter last name" required>
  </div>
  <div class="form-group">
    <label asp-for="DocumentId"></label>
    <input asp-for="DocumentId" type="text" class="form-control" placeholder="Enter your document ID" required>
  </div>
   <div class="form-group">
    <label asp-for="BirthDate"></label>
    <input asp-for="BirthDate" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}