@model universiade2017.Models.Volunteer
@{
    ViewBag.Title = "Volunteer";
}
<a style="margin-top:40px" class="btn btn-default" href="/Volunteer/"> Back to list</a>
<h2 class="page-header"> @Model.FirstName @Model.LastName</h2>
    <ul class="list-group">
        <li class="list-group-item">Email: @Model.Email</li>
        <li class="list-group-item">DocumentID: @Model.DocumentId</li>
        <li class="list-group-item">Date of birth: <strong>@Model.BirthDate</strong></li>
    </ul>
