@model IEnumerable<universiade2017.Models.Volunteer>
@{
    ViewData["Title"] = "Volunteers List";
}


<h2>Volunteers</h2>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Document ID</th>
        <th>Birth Date</th>   
        <th></th>             
      </tr>
    </thead>
    <tbody>
         @foreach(var item in Model)
        {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.Email</td>
            <td>@item.DocumentId</td>
            <td>@item.BirthDate</td>
            <td>
              <a class="btn btn-default" asp-action="EditVolunteer" asp-route-id="@item.ID">Edit</a>
              <a class="btn btn-default" asp-action="DeleteVolunteer" asp-route-id="@item.ID">Delete</a>
              <a class="btn btn-default" asp-action="DetailsVolunteer" asp-route-id="@item.ID">Details</a>              
            </td>
        </tr>
        }
    </tbody>
  </table>


